

body{
	margin: 0;
	font-family: 'Quicksand', sans-serif;
}

#gallericontainer{
	width: 100%;
	text-align: left;
}

p {
	text-align: left;
	color:white;
	margin: 0 0 1.41em;
	font-weight:400;
}

#bannercontainer {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	
}
#baggrundsbanner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#door {
	position: absolute;
    right: 26.65%;
    width: 12.3%;
    margin-top: 11.34%;
    cursor: pointer;
}

#doorcontainer {
	width:100%;
}


#forklaede {
	position: absolute;
	right: 0%;
	width: 17%;
	margin-top: 20%;
}
#tasker {
	position: absolute;
	left: 23%;
    width: 17%;
    margin-top: 20%;
}
#genvejshop{
	position: absolute;
	right: 27%;
    width: 12%;
    margin-top: 17%;
	cursor:pointer;
}
#taskebadge {
	position: absolute;
	left: 23%;
    width: 8%;
    margin-top: 20%;
}
#forklaedebadge {
	position: absolute;
	right: 5%;
    width: 9%;
    margin-top: 30%;
}
#opendoor {
	position: absolute;
    right: 26.6%;
    width: 12.5%;
    margin-top: 8%;
}

.widgetspot {
	width: 30%;
    float: left;
	margin: 7.59% 2% 4.9% 0;
}
footer {
    display: inline-block;
    background-color: #0c0c0c;	
	position: relative;
	width: 100%;
	margin-top: 50%;
}
#widgetcontainer {
	width: 70%;
    display: inline-block;
    background-color: #0c0c0c;
	margin-right: 15%;
    margin-left: 15%;
}

.badge {
	transition: all .3s ease-in-out; 
	}
.badge:hover {
	transform: scale(1.15); 
	}

#allrights {
	margin: 4.41575em 0 0;
}

#openhours {
	font-weight: 600;
}

#someadresse a {
	font-weight: 600;
}
.someicons {
	width: 2.3em;
    vertical-align: middle;
    margin-right: 7%;
}

.somecontainer {
	margin: 0 0 1.41em;
    display: block;
}
a {
	color:white;
}

@media screen and (max-width: 600px) {
 body {
font-size: 0.8em;
  }
  
.widgetspot {
	width: 70%;
    float: left;
    margin-right: 2%;
	margin-left: 0%;
	margin-top: 7.59%;
	margin-bottom: 4.4em;
	padding-left: 10%;
}
#genvejshop {
    position: absolute;
    right: 22%;
    width: 22%;
    margin-top: 15%;
}
#taskebadge {
    position: absolute;
    left: 18%;
    width: 15%;
    margin-top: 23%;
}
#forklaedebadge {
    position: absolute;
    right: 3%;
    width: 14%;
    margin-top: 30%;
}
}